@import "../../styles/utilities.scss";

.menu-container {

 background-image: $main-background-color;
   
    .menu-items {
      display: flex;
      justify-content: space-around;
      position: relative;
      border-bottom: 2px solid $blue-background-color;
      padding: 2rem 0 0 0;
      .item {
        @include title-font-style;
        padding: 10px 20px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        color: $blue-background-color;
        font-size: 1.3rem;
        
        &.active {
          .angle-icon {
            position: absolute;
            bottom: -14px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
          }
        }
      }
    }
  
    .section-content {
      padding-top: 60px;
 
    }
}  

.nav-arrow{
  display: none;
}

@media (max-width: $tab-breakpoint) {
  .menu-container {
    .menu-items {
      padding: 0;
      .item {

        display: none;


        &.active {
          display: block;
        }
      }
    }
  }



.section-content {
  position: relative; 

.nav-arrow {
  display: block;
  position: absolute;
  top: 50%; 
  font-size: 1.5rem; 
  cursor: pointer;
  z-index: 5;
  color: $blue-background-color;
  
  &.left {
    left: 15%; 
  }

  &.right {
    right: 15%; 
  }
}

}}
