@import "../../styles/utilities.scss";

.blog__navbar-container {

    background-image: $main-background-color;
      
       .blog__navbar-menu {
         display: flex;
         justify-content: space-around;
         position: relative;
         border-bottom: 2px solid $blue-background-color;
         padding: 2rem 0 0 0;
         .blog__navbar-menu-item {
           @include title-font-style;
           padding: 10px 20px;
           cursor: pointer;
           position: relative;
           z-index: 1;
           color: $blue-background-color;
           font-size: 1.3rem;
           
           &.active {
             .angle-icon {
               position: absolute;
               bottom: -14px;
               left: 50%;
               transform: translateX(-50%);
               z-index: 2;
             }
           }
         }
       }
     
       .blog__navbar-section {
         padding-top: 60px;
    
       }
   }  
   
   .blog__navbar-menu-arrow{
     display: none;
   }
   
   @media (max-width: $tab-breakpoint) {
     .blog__navbar-container {
       .blog__navbar-menu {
         padding: 0;
         .blog__navbar-menu-item {
           display: none;
           &.active {
             display: block;
           }
         }
       }
     }
   
   .blog__navbar-section {
     position: relative;
   }
   
   .blog__navbar-menu-arrow {
     display: block;
     position: absolute;
     top: 50%; 
     font-size: 1.5rem; 
     cursor: pointer;
     z-index: 5;
     color: $blue-background-color;
     
     &.left {
       left: 15%;
     }
   
     &.right {
       right: 15%;
     }
   }
   
   }