.banner__div {
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    position: relative;    
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }
  

    .banner__h1 {
      text-align: center;
      @include title-font-style;
      color: #D8D5DB;
      width: 80%;
      line-height: 3rem;
      opacity: 0; 
      animation: fadeIn 3s ease forwards;
    }
  
    .banner__scroll {
      position: absolute;
      bottom: 10px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .banner__scroll-p, .banner__scroll-fleche {
        margin: 0; 
        @include main-font-style;
        @include link-no-style;
        color: #D8D5DB;
    }
    }
  }

  .banner__scroll-fleche {
    font-size: 2rem;
   
  }
  

