.banner__div {
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    position: relative;    
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }

  &-h1 {
    text-align: center;
    @include title-font-style;
    color: #D8D5DB;
    width: 80%;
    line-height: 3rem;
    opacity: 0; 
    animation: fadeIn 3s ease forwards;
  }
  

  
    &-scroll {
      position: absolute;
      bottom: 10px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &-p, &-fleche {
        margin: 0; 
        @include main-font-style;
        @include link-no-style;
        color: #D8D5DB;
    }
    &-fleche {
      font-size: 2rem;
     
    }
    }
  }

  @media (max-width : $mobile-breakpoint){
    .banner__div-h1 {
      text-align: left;
      @include title-font-style;
      color: #D8D5DB;
      font-size: 10vw;
      width: 97vw;
      line-height: 12vw;
      opacity: 0; 
      animation: fadeIn 3s ease forwards;
    }


  }
  

