@import "../../styles/utilities.scss";

.reservation__article1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-image: $main-background-image;
    padding-bottom: 4rem;
    padding-left: 35px;
    font-family: $font-family-1;
    color: $blue-color;

    &-prices {
        width: 100%;
        font-size: 1.5rem;
        padding-top: 2rem;
        font-weight: 600;
        color: $blue-color;
        font-family: $font-family-2;
    }
    &-list{
        padding:1.5rem 2rem;

        &-item{
            list-style-type:disc;
            font-family: $font-family-2;
            font-size: 0.8rem;
            padding-top: 0.5rem;
            color: rgb(104, 88, 88);

        }
    }
    
}

.reservation__article3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &-div-logo{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;

    }
    &-div-contact{
        display: flex;
        width: 50%;
    }
}


@media (max-width: $tab-breakpoint ){

    .reservation__article1-title{
        max-width: 450px;
    }
    .reservation__article3{
        flex-direction: column-reverse;
        &-div-logo{
            width: 100%; 
            padding-bottom: 2rem;   
        }
        &-div-contact{
            width: 100%;
        }
    }

}
@media (max-width: $mobile-breakpoint ){

    .reservation__article1{
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

}
